user#index
<div class ="container-fluid">
	<div class ="row">
		<div class ="main_header">
			<div class ="clo-3 float-left weather-img"><% @weather_w %> </div>
			<div class ="col-3 float-left now_temp"><%= @weather_d["main"]["temp"].to_i - 273  %></div>
			<div class ="col-3 float-left min_temp"><%= @weather_d["main"]["temp_min"].to_i - 273 %></div>
			<div class ="col-3 float-left max_temp"><%= @weather_d["main"]["temp_max"].to_i - 273 %></div>
		</div>
	</div>
	<div class ="container">
        <div class="row" style="margin:10px 0;" >
        	<% @user.each do |c| %><!--現在気温おすすめコーデ6件表示-->
	        	<div class = "col-4  user">
			        <div class = "main-user"><%= attachment_image_tag c, :user_image, :fill, 200, 250, format: 'jpeg', fallback: "no_image.jpg" %></div>
			        <div class = "main_sub">
				        <div class ="col-3 float-left m_now_temp"><%= c.temperature %></div>
				        <div class ="col-3 float-left m_weather"><%= c.weather %></div>
				        <div class ="col-3 float-left m_nickname"><%= c.user.nickname %></div>
			        </div>
			    </div>
    		<% end %>
	    </div>
	</div>
</div>