<div class = "container-fluid">
	<div class = "row">
		<div class = "main_header">
			<div class ="float-left profile_imag">
				<%= link_to (user_path(@clothe.user.id)) do %>
				<%= attachment_image_tag @clothe.user, :user_image, :fill, 50, 50, format: 'jpeg', fallback: "no_profile_image.jpg", size: '50x50', class: "p_image" %>
					<% end %>
			</div>
			<div class ="float-left m_nickname">
				<%= link_to (user_path(@clothe.user.id)) do %>
				<%= @clothe.user.nickname %><% end %></div>
			<div class ="float-left m_now_temp"><%= @clothe.temperature %>℃</div>
			<div class ="float-left m_weather"><%= @clothe.user.tall %>cm</div>
		</div>
	</div>
</div>