<div class = "container">
	<div class = "main">
		<div class = "row">
			<div class="col-4 profile">
					<div class ="col-12 profile_imag"><%= attachment_image_tag @user, :user_image, :fill, 200, 200, format: 'jpeg', size:'200*200', fallback: "no_profile_image.jpg", size: '200x200', class: "p_image" %></div>
					<div class ="m_profile"><%= @user.nickname %></div>
					<div class ="m_profile"><%= @user.gender %></div>
					<div class ="m_profile"><%= @user.tall %>cm</div>
			</div>
			<div class="col-4 introduction"><%= @user.introduction %></div>
			<div class="col-4 sns"></div>
		</div>
	</div>
</div>
<div class = "container">
	<div class ="row">

			<div class="col-6">
			    <div class="row" style="margin:10px 0;" >
		        	<% @user.clothes.each do |c| %><!--user_-->
			        	<div class = "col-6 main clothes">
					        <div class = "main-clohtes">
					        	<%= link_to (clothe_path(c.id)) do %>
					        	<%= attachment_image_tag c, :clothes_image, :fill, 200, 250, format: 'jpeg', fallback: "no_image.jpg" %><% end %>
					        </div>
					        <div class = "main_sub">
						        <div class ="float-left m_now_temp"><%= c.temperature %>℃</div>
						        <div class ="col-3 float-left m_weather"><%= c.user.tall %>cm</div>
						        <div class ="col-3 float-left m_nickname"><%= c.user.nickname %></div>
					        </div>
					    </div>
		    		<% end %>
				</div>
			</div>
			<div class="col-6">
				<div class="row"style="margin:10px 0;">
					<% @favo_clothes.each do |c| %>
						<div class = "col-6 main clothes">
					        <div class = "main-clohtes">
					        	<%= link_to (clothe_path(c.id)) do %>
					        	<%= attachment_image_tag c, :clothes_image, :fill, 200, 250, format: 'jpeg', fallback: "no_image.jpg" %><% end %>
					        </div>
					        <div class = "main_sub">
						        <div class ="float-left m_now_temp"><%= c.temperature %>℃</div>
						        <div class ="col-3 float-left m_weather"><%= c.user.tall %>cm</div>
						        <div class ="col-3 float-left m_nickname"><%= c.user.nickname %></div>
					        </div>
						</div>
					<% end %>
				</div>
			</div>

	</div>
</div>