 <script src="jquery-3.4.1.min.js"></script>
	<script src="weather.js"></script>
	<div class="weather">
	      <label>都市名：</label>
	        <input id="cityname" type="text" size="14" maxlength="14" placeholder="Tokyo">
	        <button id="btn">検索</button><br>
	       <span>場所 :</span>
	       <span id="place"></span><br>
	       <span>最高気温 :</span>
	       <span id="temp_max"></span>
	       <span> ℃</span><br>
	       <span>最低気温 :</span>
	       <span id="temp_min"></span>
	       <span> ℃</span><br>
	       <span>湿度 :</span>
	       <span id="humidity"></span>
	       <span> %</span><br>
	       <span>天気 :</span>
	       <span id="weather"></span>
	       <div id="icon"><img id="img"></div>
<h1>新規投稿</h1>
	<%= form_for(@clothe, url:clothes_path) do |f| %>
		<h4>気温</h4>
		<%= f.text_field :temperature %>
		<h4>天気</h4>
		<%= f.text_field :weather %>
		<h4>降水確率</h4>
		<%= f.text_field :rainy_percent %>
		<h4>服装</h4>
		<%= f.attachment_field :clothes_image %>
		<%= f.submit '投稿'%>
	<% end %>