 <script src="jquery-3.4.1.min.js"></script>
	<script src="weather.js"></script>
<div class ="container-fluid">
	<div class ="row">
		<div class ="main_header">
			<div class ="col-3 float-left now_temp"><%= @weather_d["main"]["temp"].to_i - 273  %></div>
			<div class ="col-3 float-left min_temp"><%= @weather_d["main"]["temp_min"].to_i - 273 %></div>
			<div class ="col-3 float-left max_temp"><%= @weather_d["main"]["temp_max"].to_i - 273 %></div>
		</div>
<h1>新規投稿</h1>
	<%= form_for(@clothe, url:clothes_path) do |f| %>
		<h4>気温</h4>
		<%= f.text_field :temperature, placeholder:@weather_d["main"]["temp"].to_i - 273 %>
		<h4>天気</h4>
		<%= f.text_field :weather %>
		<h4>服装</h4>
		<%= f.attachment_field :clothes_image %>
		<h4>コメント</h4>
		<%= f.text_area :clothe_text %>
		<%= f.submit '投稿'%>
	<% end %>