<!DOCTYPE html>
<html>
  <head>
    <title>Weather.Wear</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
<header>
     <div class="row">
      <div class="col-4">
        <p><%= link_to (clothes_path) do %>
        <%= image_tag 'logo.jpg', :size => '100x100' %>
        <% end %>
      </div>
      <div class="col-8">
        <div class="pull-right" , style ="margin-top: 20px;">
          <nav>
            <ul>
             <% if user_signed_in? %>
              <li class="col-2 btn6">
                <%= fa_icon 'home 3x' %><br>
                <%= link_to "home", clothes_path  %></li>
              <li class="col-2 btn6">
                 <%= fa_icon'users 3x' %>
                <%= link_to "Users", users_path  %></li>
              <li class="col-2 btn6">
                <%= fa_icon 'pen-nib 3x' %><br>
                <%= link_to "投稿", new_clothe_path  %></li>
              <li class="col-2 btn6">
                <%= fa_icon("sign-out-alt 3x") %><br>
                <%= link_to "logout", destroy_user_session_path, method: :delete %></li>
             <li class="col-2 btn6">
              <%= attachment_image_tag current_user, :user_image, :fill, 50, 50, format: 'jpeg', fallback: "no_profile_image.jpg", size: '40x40', class: "p_image" %><br>
              <%= link_to current_user.nickname, user_path(current_user.id)%></li>
              <% else %>
              <li class="col-2 btn6 ">
                <%= fa_icon("home 3x") %><br>
                <%= link_to "home", clothes_path  %></li>
              <li class="col-2 btn6">
                <%= fa_icon("users 3x") %><br>
                <%= link_to "Users", users_path  %></li>
              <li class="col-2 btn6">
                <%= fa_icon("sign-in-alt 3x") %><br>
                <%= link_to "singin", user_session_path  %></li>
              <li class="col-2 btn6", style ="font-size:13px;">
                <%= fa_icon("user-plus 3x") %><br>
                <%= link_to "singup", new_user_registration_path %></li>
            </ul>
          <% end %>
          </nav>
        </div>
      </div>
    </div>
</header>
  <body>
    <%= yield %>
  </body>
<footer>
  <div class="pull-right">
    <p>   CopyRight Weather.Wear.inc</p>
  </div>
</footer>
</html>
